<?xml version="1.0"?>
<launch>
  <arg name="mode" default="simulation" /> <!-- real or simulation -->
  <arg name="rvizconfig" default="$(find rtw_gazebo)/rviz/rtw_default.rviz" />
  <arg name="world" default="test_field_01.world"/>
  <arg name="odom_data" default="wheel" />
  <arg name="model" default="whill_modelc" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="joy_node" pkg="joy" type="joy_node" required="true" >
    <param name="autorepeat_rate" value="30" />
  </node>

  <group if="$(eval mode=='real')">
    <group if="$(eval model=='whill_modelc')">
      <!-- Execute ros_whill -->
      <include file="$(find ros_whill)/launch/ros_whill.launch">  
        <arg name="model" value="$(find rtw_gazebo)/xacro/$(arg model)/$(arg model).xacro" />
      </include>
    </group>
    <group if="$(eval model=='roomba')">
      <include file="$(find rtw_bringup)/launch/rtw_create_2.launch">
	<arg name="model" value="$(find rtw_gazebo)/xacro/$(arg model)/$(arg model).xacro" />
      </include>
    </group>
  </group>
  <group if="$(eval mode=='simulation')">
    <include file="$(find rtw_gazebo)/launch/rtw_gazebo.launch">  
      <arg name="world" value="$(arg world)"/>
      <arg name="odom_data" value="$(arg odom_data)" />
      <arg name="model" value="$(arg model)" />
    </include>
  </group>
</launch>
