<?xml version="1.0"?>
<launch>
  <arg name="rvizconfig" default="$(find rtw_gazebo)/rviz/rtw_default.rviz" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <include file="$(find rtw_gazebo)/launch/rtw_gazebo.launch">  
    <arg name="world" default="test_field_01.world"/>
  </include>
</launch>
