<?xml version="1.0"?>
<launch>
  <arg name="rvizconfig" default="$(find rtw_gazebo)/rviz/rtw_default.rviz" />
  <arg name="model" default="$(find rtw_gazebo)/xacro/whill_modelc/whill_modelc.xacro" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="joy_node" pkg="joy" type="joy_node" required="true" >
    <param name="autorepeat_rate" value="30" />
  </node>

  <!-- Execute ros_whill -->
  <include file="$(find ros_whill)/launch/ros_whill.launch">  
    <arg name="model" value="$(arg model)" />
  </include>
</launch>
