<?xml version="1.0"?>
<robot name="roomba" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/roomba</robotNamespace>
    </plugin>
  </gazebo>

  <!-- Include Base Body -->
  <xacro:include filename="$(find rtw_gazebo)/xacro/base/base.xacro"/>
  <!-- Include Sensors -->
  <xacro:include filename="$(find rtw_gazebo)/xacro/sensor/sensor.xacro"/>
</robot>
