<?xml version="1.0"?>
<launch>
  <!-- <arg name="path_topic" default="/waypoints_raw" /> -->
  <arg name="dot_filename" default="$(find dijkstra_planner)/../../data/graph/sample.dot" />
  <!-- <arg name="map_frame" default="map" /> -->

  <node name="dijkstra_planner_node" pkg="dijkstra_planner" type="dijkstra_planner_node" output="screen" respawn="true" >
    <!-- <param name="path_topic" value="$(arg path_topic)" /> -->
    <param name="dot_filename" value="$(arg dot_filename)" />
    <!-- <param name="map_frame" value="$(arg map_frame)" /> -->
  </node>
</launch>
