<?xml version="1.0"?>
<launch>
  <arg name="sub_joy_topic" default="/joy" />
  <arg name="cp_states_topic" default="/checkpoint_manager/state" />

  <node name="mission_planner_node" pkg="mission_planner" type="mission_planner_node" output="screen" respawn="true" >
    <param name="sub_joy_topic" value="$(arg sub_joy_topic)" />
    <param name="cp_states_topic" value="$(arg cp_states_topic)" />
  </node>
</launch>
